:root,

:root.purple {
    --bg-color: #000000;
    --header-bg: #37306b;
    --text-color: white;
    --link-color: rgb(96, 223, 255);
    --header-hover-color: #423c6a;
    --section-bg: rgba(75, 75, 75, 0.295);
  }

  :root.red {
    --bg-color: rgb(255, 255, 255);
    --header-bg: #f95b5b;
    --text-color: black;
    --link-color: rgb(14, 37, 210);
    --header-hover-color: #ff8d8d;
    --section-bg: #e2e2e2;
  }

  :root.gold {
    --bg-color: rgb(255, 255, 255);
    --header-bg: #ffdb2a;
    --text-color: black;
    --link-color: rgb(14, 37, 210);
    --header-hover-color: #fffaa4;
    --section-bg: #e2e2e2;
  }

  :root.blue {
  --bg-color: rgb(255, 255, 255);
  --header-bg: #7189c5;
  --text-color: black;
  --link-color: rgb(14, 37, 210);
  --header-hover-color: #8cdbff;
  --section-bg: #e2e2e2;
}

body {
    font-family: "Trebuchet MS", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
  }
  
  header {
    background-color: var(--header-bg);
    color: var(--text-color);
    padding: 20px;
  }
  
  header h1 {
    color: var(--text-color);
    margin: 0;
    margin-bottom: 10px;
  }
  
  header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  
  header nav button{
    display: block;
    cursor: pointer;
    background-color: var(--header-bg);
    border: none;
    width: 100%;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
  }
  
  header nav button:hover {
    background-color: var(--header-hover-color);
  }

  header nav hr {
    width: 50%;
    margin: 0 10px;
    border-top: 1px solid black;
  }
  main {
    padding: 20px;
  }
  
  section {
    background-color: var(--section-bg);
    color: var(--text-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .header_link:link {
    color: var(--text-color);
  }

  .header_link:visited {
    color: var(--text-color);
  }

  a:link {
    color: var(--link-color);
  }

  a:visited {
    color: var(--link-color);
    /* color: rgb(218, 96, 255); */
  }

  section header h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  section article {
    font-size: 18px;
    line-height: 1.5;
  }

  .capital {
    width:60%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:30px;
    margin-top:30px;
  }
  /* img capital {
    width: 70%;
    padding: 20px;
  } */

  /* .withsnow {
    overflow: hidden;
    text-align: left;
  } */

  .snowboard {
    float:right;
    display: block;
    width:25%;
    padding: 20px;
    padding-right: 12%;
  }

  .self {
    width:25%;
    padding: 20px;
    padding-left: 12%;
  }

  .theme-select{
    background-color: var(--header-bg);
    color: var(--text-color);
    border: 1px solid black;
    float:right;
  }